body {
    font-family: "Times New Roman", serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: "Times New Roman", serif;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    text-align: center;
}

.centered {
    text-align: center;
}

.content-sections {
    display: flex;
    justify-content: space-around;
}

#sections {
    display: flex;
    justify-content: space-between;
}
.left-section,
.right-section {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px 10px 15px;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom:2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background-color: #1c8621;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.element-with-border {
    border-bottom: 5px solid #ccc;
    margin-top: 10px;
    margin-bottom: 15px;
}

#recordText {
    font-size: 10px;
    color: red;
}

#transcriptionResult {
    font-family: "Courier New", monospace;
    font-size: 14px;
    line-height: 1.6;
    color: blue;
}

