body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    padding: 60px;
    width: 80%;
    max-width: 600px;
}

h1 {
    color: #4CAF50;
    font-size: 2.5em;
    margin-bottom: 30px;
}

form {
    margin-top: 30px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

#instructions {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
    line-height: 1.5;
}

#note {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
    line-height: 1.5;
}

input[type="file"] {
    margin-bottom: 20px;
    padding: 12px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    width: calc(100% - 24px);
    font-size: 1em;
    color: #4CAF50;
    background-color: #f9f9f9;
}

header {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #4CAF50;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 14px 28px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#timer {
    font-size: 1.4em;
    margin-bottom: 20px;
    color: #555;
}

.element-with-border {
    height: 4px;
    background-color: #4CAF50;
    margin-bottom: 30px;
    border-radius: 10px;
}

#speakerSection {
    margin-top: 40px;
}

input[type="number"] {
    padding: 12px;
    font-size: 1.2em;
    width: 120px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    color: #4CAF50;
    background-color: #f9f9f9;
}

#submitButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

#submitButton:hover {
    background-color: #45a049;
}

#transcriptionResult {
    white-space: pre-wrap;
    font-size: 1.4em;
    text-align: left;
    color: #333;
}
