<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speakscript Web App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</head>
<body>
    <div class="container">
        <h1>Speakscript Web App</h1>

        <form action="/process" method="post" enctype="multipart/form-data">
            <div id="sections">
                <label for="audio_file">Upload your WAV file:</label>
                <div id="instructions">If you don't have anything to upload, use the
                record section to record your own audio, then download it with the provided link,
                and upload it in this section! Note that recording software may require usage of Google Chrome.</div>
                <input type="file" id="audio_file" name="audio_file" accept=".wav">
                <header>Record Audio</header>
                <button id="startRecording">Record</button>
                <div id="timer">00:00</div>
                <audio id="audioPlayer" controls></audio>
                <a id="downloadLink" style="display: none;">Download Recorded Audio</a>
                <div class="element-with-border"></div>
            </div>

            <div id="speakerSection">
                <label for="speakers">Enter the number of speakers:</label>
                <input type="number" id="speakers" name="speakers" required><br>
                <input type="hidden" id="audioData" name="audioData">
                <input type="submit" id="submitButton" value="Submit">
                <div id="note">Please note that processing may take a few minutes depending on the length of your audio.</div>
            </div>
        </form>

        <h2>Transcription:</h2>
        <pre id="transcriptionResult">{{ transcriptionResult }}</pre>
    </div>


</body>
</html>
